{% extends "main/base-default.html" %}

{% load static %}

{% block title %} Base {% endblock %}

{% block base-content %}

    <div class="relative mx-auto flex h-dvh flex-col overflow-hidden bg-background-light dark:bg-background-dark">
        <!-- Top App Bar -->
        <header class="flex shrink-0 items-center justify-between bg-background-light dark:bg-surface-dark p-4">
            <div class="flex h-12 w-12 shrink-0 items-center justify-start">
                <img alt="EMZA Logo" class="h-12 w-12"
                    src="{% static 'images/icons/icon-152x152.png' %}" />
            </div>
            <h1 class="text-xl font-bold leading-tight tracking-tight text-slate-900 dark:text-white">
                {% block heading %} EMZA {% endblock %}
            </h1>
            <div class="flex w-12 items-center justify-end">
                <button
                    class="flex h-12 w-12 cursor-pointer items-center justify-center rounded-full bg-transparent text-slate-500 dark:text-primary">
                    <span class="material-symbols-outlined text-2xl">settings</span>
                </button>
            </div>
        </header>
        <!-- Main Content -->
        <main class="flex-1 overflow-y-auto px-4 pb-20">
            <!-- Inventory Table with items -->
            <div class="overflow-x-auto">
                {% block content %}{% endblock %}
            </div>
        </main>
        <!-- Floating Action Button -->
        <div class="fixed bottom-24 right-5 z-10">
            <button
                class="flex h-14 w-14 cursor-pointer items-center justify-center overflow-hidden rounded-full bg-primary text-white shadow-lg">
                <span class="material-symbols-outlined text-3xl">add</span>
            </button>
        </div>
        <!-- Bottom Navigation Bar -->
        <nav class="fixed bottom-0 left-0 w-full shrink-0">
            <div
                class="flex border-t border-slate-200/10 dark:border-white/10 bg-background-light dark:bg-surface-dark px-4 pb-3 pt-2">
                <a class="flex flex-1 flex-col items-center justify-end gap-1 {% if request.resolver_match.url_name == 'product-list' %}rounded-full text-primary{% else %}text-slate-500 dark:text-slate-400{% endif %}"
                    href="{% url 'product-list' %}">
                    <div class="flex h-8 items-center justify-center">
                        <span class="material-symbols-outlined fill-current">inventory_2</span>
                    </div>
                    <p class="text-xs font-medium leading-normal tracking-[0.015em]">Products</p>
                </a>
                <a class="flex flex-1 flex-col items-center justify-end gap-1 {% if request.resolver_match.url_name == 'stock-list' %}rounded-full text-primary{% else %}text-slate-500 dark:text-slate-400{% endif %}"
                    href="{% url 'stock-list' %}">
                    <div class="flex h-8 items-center justify-center">
                        <span class="material-symbols-outlined fill-current">inventory_2</span>
                    </div>
                    <p class="text-xs font-medium leading-normal tracking-[0.015em]">Stocks</p>
                </a>
                <a class="flex flex-1 flex-col items-center justify-end gap-1 {% if request.resolver_match.url_name == 'salebill-list' %}rounded-full text-primary{% else %}text-slate-500 dark:text-slate-400{% endif %}"
                    href="{% url 'salebill-list' %}">
                    <div class="flex h-8 items-center justify-center">
                        <span class="material-symbols-outlined">storefront</span>
                    </div>
                    <p class="text-xs font-medium leading-normal tracking-[0.015em]">Sale</p>
                </a>
                <a class="flex flex-1 flex-col items-center justify-end gap-1 text-slate-500 dark:text-slate-400"
                    href="#">
                    <div class="flex h-8 items-center justify-center">
                        <span class="material-symbols-outlined">shopping_cart</span>
                    </div>
                    <p class="text-xs font-medium leading-normal tracking-[0.015em]">Purchase</p>
                </a>
            </div>
        </nav>
    </div>

{% endblock %}