#addToHomeScreenContainer {
  position: fixed;
  left: 50%;
  width: 100%;
  max-width: 600px;
  transform: translateX(-50%) translateY(200%);
  z-index: 1000;
  padding: 10px;
  transition: transform 0.3s ease;
}

#addToHomeScreenContainer.show {
  transform: translateX(-50%) translateY(0);
  /* Slide up to its position */
}

.btn-close:focus, .btn-dark:focus {
  box-shadow: none;
}